.gradle/
build/
**/build/
out/
classes/

libs/

*.launch

.idea/
*.iml
*.ipr
*.iws

.settings/
.vscode/
bin/
**/bin/
.classpath
.project

*.DS_Store

run/
**/run/

hs_err_*.log
replay_*.log
*.hprof
*.jfr
